POSTGRES_DB=avesa
POSTGRES_USER=avesa
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

BACKEND_PORT=3000
FRONTEND_PORT=4200

DATABASE_URL=postgresql://avesa:change_me@db:5432/avesa

NODE_ENV=development
