PORT=443
CONSOLE_LOG=false
DB_HOST=51.83.192.177
DB_PORT=5433
DB_NAME=avesa
DB_USER=USER
DB_PASSWORD=PASSWORD_BD_USER

BACKEND_PORT=3000
FRONTEND_PORT=4200

NODE_ENV=production
JWT_ACCESS_SECRET=JWT_ACCESS_SECRET

LD_DUPLICATE_WITHOUT_ORIGIN_INTERVAL=M6
LD_DUPLICATE_INTERVAL=H24
LD_DUPLICATE_RESEND_INTERVAL=M1
