<div class=" flex h-screen bg-app-background overflow-hidden">
  <aside [class.w-64]="!isCollapsed()" [class.w-20]="isCollapsed()" class="bg-primary text-white flex flex-col shrink-0 transition-all duration-300">
    <div class="flex items-center transition-all duration-300"
         [class.flex-row]="!isCollapsed()" [class.h-16]="!isCollapsed()" [class.px-6]="!isCollapsed()" [class.justify-between]="!isCollapsed()"
         [class.flex-col]="isCollapsed()" [class.py-6]="isCollapsed()" [class.gap-6]="isCollapsed()" [class.justify-center]="isCollapsed()">

      @if (!isCollapsed()) {
        <img src="icons/LogotipoBlanco.webp" alt="Avesa Proptech" class="h-20">
      } @else {
        <img src="icons/IsotipoBlanco.svg" alt="Avesa Proptech" class="h-10">
      }

      <button (click)="toggleSidebar()" class="text-gray-300 hover:text-white transition-colors">
        <app-icon name="{{ isCollapsed() ? 'left_panel_open' : 'left_panel_close' }}" customClass="text-3xl"></app-icon>
      </button>
    </div>
  <nav class="flex-1 py-6 space-y-2 overflow-x-hidden overflow-y-hidden font-medium" [class.px-2]="!isCollapsed()">
      @for (item of menuItems; track item.label) {
        <a
        [routerLink]="item.route"
        routerLinkActive="bg-gradient-to-r from-[#0A2342] from-0% to-[#12365A] to-[10%] !text-focus !border-focus"
        [routerLinkActiveOptions]="{exact: true}"
        class="flex items-center py-3 text-white text-xl border-l-4 border-transparent hover:bg-hover! hover:bg-none! hover:border-transparent! hover:text-white! transition-all group"
        [class.px-4]="!isCollapsed()" [class.justify-center]="isCollapsed()"
        >
          <span class="material-symbols-rounded text-2xl group-hover:scale-110 transition-transform" [class.mr-3]="!isCollapsed()">
            {{ item.icon}}
          </span>
          @if (!isCollapsed()) {
            <span class="font-medium whitespace-nowrap">{{ item.label | transloco}}</span>
          }
        </a>
      }
    </nav>

    <div class="p-4">
      <button (click)="logout()" class="flex items-center w-full py-3 text-gray-300 hover:bg-hover! rounded-lg transition-colors text-xl overflow-hidden group" [class.mr-3]="!isCollapsed()">
        <app-icon name="logout" customClass="mr-3 mr-3 text-2xl transform rotate-180 text-[#D82424]"></app-icon>
        @if(!isCollapsed()) {
          <span class="font-medium">{{'home.logout' | transloco}}</span>
        }
      </button>
    </div>
  </aside>
  <main class="flex-1 flex flex-col min-w-0 overflow-hidden transition-all duration-300">
    <header class="h-16 bg-white border-b border-gray-200 flex items-center justify-between px-8 shadow-sm z-10">
      <div>
        <h2 class="text-xl font-normal text-gray-400">
          {{ 'home.welcome' | transloco }} <span class="text-primary font-semibold">{{ user()?.name }}</span>
        </h2>
      </div>

      <div class="flex items-center space-x-4">
        <button class="relative p-2 text-gray-400 hover:text-primary transition-colors">
          <app-icon name="notifications"></app-icon>
          <span class="absolute top-2 right-2 w-2 h-2 bg-focus shadow-neon rounded-full"></span>
        </button>

        <div class="h-10 w-10 rounded-full bg-primary flex items-center justify-center text-white font-bold text-sm ring-2 ring-offset-2 ring-gray-100 cursor-pointer">
          {{ user()?.name?.charAt(0) || 'U'}}
        </div>
      </div>
    </header>

    <div class="flex-1 overflow-auto p-8 relative">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
