.mat-primary[disabled] {
  background-color: rgba(10, 35, 66, 0.27) !important;
}

.mat-success {
  color: rgba(40, 167, 69, 1) !important;
}

.mat-success[disabled] {
  color: rgba(40, 167, 69, 0.12) !important;
}

.mat-dark {
  color: rgba(73, 73, 73, 1) !important;
}

.mat-dark-btn {
  color: rgba(255, 255, 255, 1) !important;
  background-color: rgba(10, 35, 66, 1) !important;
}
.state-active {
  background-color: rgba(40, 167, 69, 1);
}
.state-no-active {
  background-color: red;
}

.state-warning {
  color: rgba(255, 193, 7, 1) !important;
}
