.filter-form {
  & mat-form-field {
    margin-bottom: 5px;
  }

  & mat-card-actions {
    gap: 12px;
  }
}

.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
  border-color: #555 !important;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: #0092BC !important;
  color: #fff !important;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard .mat-pseudo-checkbox, .mat-button-toggle-group-appearance-standard .mat-pseudo-checkbox {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: #fff !important;
}
