.mbottom0 {
  margin-bottom: 0px !important;
}

.mbottom5 {
  margin-bottom: 5px !important;
}

.mbottom10 {
  margin-bottom: 10px !important;
}

.mbottom20 {
  margin-bottom: 20px !important;
}

.mbottom-5 {
  margin-bottom: -5px !important;
}

.mbottom-6 {
  margin-bottom: -6px !important;
}

.mbottom-15 {
  margin-bottom: -15px !important;
}

.mtop5 {
  margin-top: 5px !important;
}

.mtop20 {
  margin-top: 20px !important;
}

.mtop30 {
  margin-top: 30px !important;
}

.mtop10 {
  margin-top: 10px !important;
}

.mtop-10 {
  margin-top: -10px !important;
}

.mtop-20 {
  margin-top: -20px !important;
}

.mleft5 {
  margin-left: 5px !important;
}

.mleft20 {
  margin-left: 20px !important;
}

.mright20 {
  margin-right: 20px !important;
}

.mright5 {
  margin-right: 5px !important;
}


.padding0 {
  padding: 0 !important;
}

.ptop20 {
  padding-top: 20px !important;
}

.h100 {
  height: 100% !important;
}

.w50 {
  width: 50% !important;
}

.w75 {
  width: 75% !important;
}

.w100 {
  width: 100% !important;
}

.w225px {
  width: 225px !important;
}

.w50px {
  width: 50px !important;
}

.w60px {
  width: 60px !important;
}

.w80px {
  width: 80px !important;
}

.w100px {
  width: 100px !important;
}

.mw40px {
  max-width: 40px !important;
}

.mw100px {
  max-width: 100px !important;
}

.w150px {
  width: 150px !important;
}

.w180px {
  width: 180px !important;
}

.mw150px {
  max-width: 150px !important;
}

.mw200px {
  max-width: 200px !important;
}

.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.bold {
  font-weight: bold !important;
}
