.mat-mdc-form-field-error-wrapper {
  padding: 0 1px !important;
}

.mat-mdc-form-field-infix:has(.mat-datepicker-input) {
  width: 144px;
}

.mat-mdc-form-field-infix:has(+ .mat-mdc-form-field-icon-suffix) {
  width: 160px;
}

.mat-mdc-form-field-infix:has(> input.percentage):has(+ .mat-mdc-form-field-text-suffix) {
  width: 170px;
}

input.hide-number-button::-webkit-outer-spin-button,
input.hide-number-button::-webkit-inner-spin-button {
  display: none;
}
