.main {
  &-content {
    flex: 1 0 auto;
  }

  &-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 18px 18px 2px;

    @media only screen and (min-width: 1279px) {
      flex-wrap: nowrap;
    }
  }

  &-detail {
    flex: 0 0 100%;
    margin-bottom: 15px;

    @media only screen and (min-width: 1025px) {
      flex: 0 0 265px;
    }
  }

  &-data {
    flex: 0 0 100%;
    margin: 0;

    @media only screen and (min-width: 1279px) {
      width: 100%;
      flex: auto !important;
      margin-left: 15px;
    }
  }
}
