.mat-mdc-row:nth-child(odd) {
  background-color: #FFFFFF;
}

.mat-mdc-row:nth-child(even) {
  background-color: #F8F8F8;
}

.mdc-data-table__cell {
  white-space: nowrap;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 5px !important;
}

.table-container {
  height: calc(100vh - 13.5rem);
  max-width: 100%;
  overflow: auto;
}

.mdc-data-table__cell.noData {
  text-align: center;
  width: 100%;
  color: indianred;
}

.footPaginator {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.bar-state {
  border-radius: 12px;
  height: 90%;
  width: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.items-number {
  text-align: right;
  padding: 4px 8px;
  font-size: 12px;
}

table.state {
  tr td:first-child,
  tr th:first-child {
    padding: 0;
    position: relative;
    width: 20px;
  }

  tr td.state span {
    @extend .bar-state;
  }
}


.two-lines-ellipsis {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  align-items: flex-start;
  height: auto;
  display: table-cell;
  line-height: 1.35 !important;
}

.mat-mdc-header-cell {
  line-height: 1.5 !important;
}

.mat-mdc-menu-item:not([disabled]):hover {
  background-color: #0091 !important;
  color: #0092bc !important;

  .mat-icon-no-color {
    color: #0092bc !important;
  }
}
