<mat-tab-group class="mat-tabs-with-background mat-background-primary">
  <mat-tab [disabled]="true" labelClass="unique-tab" [label]="'leadTracking.lead-tracking' | transloco">
    <div class="main-inner">
      <!-- Filtros -->
      <div class="main-detail">
        <mat-card class="filter-form" appearance="outlined">
          <mat-card-header class="mbottom20">
            <mat-card-title>{{'leadTracking.leads' | transloco}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <form [formGroup]="leadFilterForm">
              <mat-form-field class="w100">
                <mat-label>{{'leadTracking.lead-code' | transloco}}</mat-label>
                <input matInput formControlName="leadCode">
                @if (leadFilterForm.get('leadCode')?.invalid) {
                  <mat-error>{{transValidationErrorSvc.getValidationErrorMessage(leadFilterForm.get('leadCode'))}}</mat-error>
                }
              </mat-form-field>

              <mat-form-field class="w100">
                <mat-label>{{'name' | transloco}}</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>

              <mat-form-field class="w100">
                <mat-label>{{'leadTracking.surname' | transloco}}</mat-label>
                <input matInput formControlName="surname">
              </mat-form-field>

              <mat-form-field class="w100">
                <mat-label>{{'leadTracking.email' | transloco}}</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>

              <mat-form-field class="w100">
                <mat-label>{{'leadTracking.phone' | transloco}}</mat-label>
                <input matInput numbersOnly formControlName="phone">
              </mat-form-field>

              <!-- Filtros Avanzados -->
              @if (showAdvanced()) {
                <mat-form-field class="w100">
                  <mat-label>{{'start-date' | transloco}}</mat-label>
                  <mtx-datetimepicker #pickerStart [type]="'datetime'" [timeInterval]="1"></mtx-datetimepicker>
                  <input matInput [mtxDatetimepicker]="pickerStart" formControlName="startDate" [placeholder]="'datetime-format' | transloco">
                  <mtx-datetimepicker-toggle [for]="pickerStart" matIconSuffix></mtx-datetimepicker-toggle>
                </mat-form-field>

                <mat-form-field class="w100">
                  <mat-label>{{'end-date' | transloco}}</mat-label>
                  <mtx-datetimepicker #pickerEnd [type]="'datetime'" (closed)="checkAndSetEndDate()"></mtx-datetimepicker>
                  <input matInput [mtxDatetimepicker]="pickerEnd" formControlName="endDate" (blur)="checkAndSetEndDate()">
                  <mtx-datetimepicker-toggle [for]="pickerEnd" matIconSuffix></mtx-datetimepicker-toggle>
                </mat-form-field>

                <mat-form-field class="w100" *transloco>
                  <mat-label>{{'state' | transloco}}</mat-label>
                  <mat-select formControlName="leadState" (valueChange)="leadStateValueChange($event)">
                    <mat-option [value]="''">{{'all' | transloco}}</mat-option>
                    @for (state of leadStates; track state.id) {
                      @if (!state.parent) {
                        <mat-option [value]="state.id">{{state.name}}</mat-option>
                      }
                    }
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="w100">
                  <mat-label>{{'leadTracking.sub-state' | transloco}}</mat-label>
                  <mat-select #leadSubState formControlName="leadSubState">
                    <mat-option [value]="''">{{'all' | transloco}}</mat-option>
                    @for (state of leadStates; track state.id) {
                      @if (state.parent && state.parent.id === leadFilterForm.get('leadState')?.value) {
                        <mat-option [value]="state.id">{{state.name}}</mat-option>
                      }
                    }
                  </mat-select>
                </mat-form-field>

                <avesa-autocomplete
                  [control]="leadFilterForm.controls['source']"
                  [data]="sources"
                  [label]="'leadTracking.source'"
                  [customClass]="'w100'"
                ></avesa-autocomplete>

                <mat-form-field class="w100">
                  <mat-label>{{'num-result' | transloco}}</mat-label>
                  <mat-select formControlName="maxResult">
                    @for (size of maxResultSizes; track size) {
                      <mat-option [value]="size">{{size}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              <div class="mt-4 text-end">
                <button mat-button color="primary" (click)="toggleAdvancedFilter()">
                  {{ showAdvanced() ? ('leadTracking.simple-search' | transloco) : ('leadTracking.advanced-search' | transloco) }}
                </button>
              </div>
            </form>
          </mat-card-content>

          <mat-card-actions align="end">
            <button mat-raised-button color="accent" (click)="cleanFilterForm()">{{'clean' | transloco}}</button>
            <button mat-raised-button color="primary" [disabled]="leadFilterForm.invalid" (click)="searchFilterLeads()">{{'search' | transloco}}</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <!-- Tabla de Datos -->
      <div class="main-data">
        <mat-card appearance="outlined">
          <mat-card-content>
            <!-- @if (hasRecirculateRole) {
              <button mat-icon-button (click)="recirculateLead()" [disabled]="selection.selected.length == 0" matTooltip="{{'leadTracking.recirculate' | transloco}}">
                <mat-icon>update</mat-icon>
              </button>
            } -->
            <div class="mat-elevation-z1">
              <div class="table-container">
                <table [ngClass]="dataLead.data.length ? '' : 'h100'" mat-table [dataSource]="dataLead" matSort (matSortChange)="sortChange($event)"
                       [matSortActive]="currentSort.active" [matSortDirection]="currentSort.direction" matSortStart="desc" [matSortDisableClear]="true">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="leadCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'leadTracking.lead-code' | transloco}}</th>
                    <td mat-cell *matCellDef="let row">{{row.code}}</td>
                  </ng-container>

                  <ng-container matColumnDef="source">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'leadTracking.source' | transloco}}</th>
                    <td mat-cell #source *matCellDef="let row" class="mw120px" matTooltip="{{Util.dashOrValue(row.source?.name)}}"
                        [matTooltipDisabled]="Util.isEllipsisNotActive(source)">{{ Util.dashOrValue(row.source?.name) }}</td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'name' | transloco}}</th>
                    <td mat-cell #name *matCellDef="let row" class="mw170px" matTooltip="{{row.name}}"
                        [matTooltipDisabled]="Util.isEllipsisNotActive(name)">{{row.name}}</td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="surname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'leadTracking.surname' | transloco}}</th>
                    <td mat-cell #name *matCellDef="let row" class="mw170px" matTooltip="{{row.surname}}"
                        [matTooltipDisabled]="Util.isEllipsisNotActive(surname)">{{row.surname}}</td>
                  </ng-container> -->

                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'leadTracking.email' | transloco}}</th>
                    <td mat-cell #email *matCellDef="let row" class="mw170px" matTooltip="{{Util.dashOrValue(row.email)}}"
                        [matTooltipDisabled]="Util.isEllipsisNotActive(email)">{{Util.dashOrValue(row.email)}}</td>
                  </ng-container>

                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'leadTracking.phone1' | transloco}}</th>
                    <td mat-cell *matCellDef="let row">{{row.phone}}</td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'leadTracking.inception-date' | transloco}}</th>
                    <td mat-cell *matCellDef="let row">{{row.createdAt | date: 'dd/MM/yyyy'}}</td>
                  </ng-container>

                  <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'state' | transloco}}</th>
                    <td mat-cell *matCellDef="let row">{{Util.dashOrValue(row.leadStateHistories?.[0]?.leadState?.name)}}</td>
                  </ng-container>

                  <ng-container matColumnDef="subState">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'leadTracking.sub-state' | transloco}}</th>
                    <td mat-cell *matCellDef="let row">{{Util.dashOrValue(row.leadStateHistories?.[0]?.leadSubState?.name)}}</td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let lead" class="mw30px">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openLeadStateHistoryModal(lead)">
                          <mat-icon>history</mat-icon>
                          <span>{{'history' | transloco}}</span>
                        </button>
                      </mat-menu>
                   </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  <tr class="mat-row" *matNoDataRow>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell noData" [colSpan]="displayedColumns.length">
                      {{'no-data' | transloco}}
                    </td>
                  </tr>
                </table>
              </div>

              <!--<div class="footPaginator">
                @if (authSvc.isAdmin()) {
                  <button mat-raised-button color="primary" (click)="deleteLeadsTest()">
                    <mat-icon>delete_sweep</mat-icon>
                    {{'leadTracking.delete-leads-test' | transloco}}
                  </button>
                }-->
              <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true"></mat-paginator>
              <!--</div>-->
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
